@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Inconsolata;
    font-weight: bold;
    src: url("../public/fonts/Inconsolata-Bold.ttf");
  }
  @font-face {
    font-family: Inconsolata;
    font-weight: normal;
    src: url("../public/fonts/Inconsolata-Regular.ttf");
  }
  @font-face {
    font-family: Inter;
    font-weight: bold;
    src: url("../public/fonts/Inter-Bold.ttf");
  }
  @font-face {
    font-family: Inter;
    font-weight: normal;
    src: url("../public/fonts/Inter-Regular.ttf");
  }
  @font-face {
    font-family: Lora;
    font-weight: bold;
    src: url("../public/fonts/Lora-Bold.ttf");
  }
  @font-face {
    font-family: Lora;
    font-weight: bold;
    font-style: italic;
    src: url("../public/fonts/Lora-BoldItalic.ttf");
  }
  @font-face {
    font-family: Lora;
    font-weight: normal;
    src: url("../public/fonts/Lora-Regular.ttf");
  }
}
